
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trainer Projection Portal</title>
</head>
<body>
    <div>
        @Html.ActionLink("Check Available Trainers", "Index", "Trainer")
        <br />
        <br />
        @Html.ActionLink("Project Trainer's Profile", "Index", "Client")
    </div>
</body>
</html>
